html {
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  min-height: 100%;
  background-color: black;
}

.myCanvas {
  border: 5px solid white;
  background-color: black;
}