<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab3</title>
  <link rel="stylesheet" href="/css/site.css">
</head>
<body class="body">
  <canvas id="myCanvas" class="myCanvas" width="1000" height="800">
    Your browser does not support the HTML5 canvas tag.
  </canvas>

  <script src="/js/site.js"></script>
</body>
</html>